@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=League+Spartan:wght@100..900&display=swap");
@import "tailwindcss";

body {
  font-family: "Inter", sans-serif;
  line-height: 120%;
  color: #2c2c2c;
}

.title {
  @apply text-5xl font-bold;
}
.subtitle {
  @apply text-2xl font-bold;
}
.container {
  @apply mx-auto px-7;
}

.btn-primary {
  @apply py-3.5 px-6 rounded-2xl text-center text-white font-bold bg-emerald-500 hover:bg-emerald-600 transition-colors cursor-pointer;
}
.btn-secondary {
  @apply bg-gray-100 py-3.5 px-6 rounded-2xl border border-gray-200 hover:bg-gray-200 transition-colors duration-200;
}
.btn-spinner {
  @apply inline-block w-5 h-5 border-2 border-white border-t-transparent rounded-full animate-spin align-middle;
}
.input-primary {
  @apply w-full bg-gray-100 py-3.5 px-6 rounded-2xl border border-gray-200 hover:bg-gray-200 transition-colors duration-200 outline-0;
}
